/*General*/
html {
    height: 100%;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

.body-content {
    margin-top: 5rem;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 4rem;
    text-align: center;
}

/*Navbar and Dropdown*/
.dropdown-wrapper {
    position: relative;
}

nav.navbar {
    background-color: #f5f5f5;
    box-shadow: 0 0 4px 3px rgba(0,0,0,0.17);
}

a.navbar-brand {
    color: #4788d1 !important;
    font-weight: 700;
}

a.nav-link{
    color: black !important;
}

a.nav-link:hover{
    border-bottom: solid 0.3rem #0067db;
    height: 2.5rem;
}

a.dropdown-item {
    color: #3276c3;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #fff;
    background-color: #0067db;
    -webkit-transition: background 500ms ease;
    transition: background 500ms ease;
}

.navbar{
    padding-top: .2rem;
    padding-bottom: 0;
}


/*Deal List*/
.deal-li {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
    margin-top: 2rem;
}

.deal-li:hover {
    -webkit-transform: scale(1.02,1.02);
    transform: scale(1.02,1.02);
    box-shadow: 0 0 25px 0 rgba(53,62,68,0.4);
    transition: transform 200ms ease;
}

.deal-li-img {
    height: 10rem;
    width: 15rem;
}

.deal-li-title {
    font-size: 1.3rem;
    font-weight: bolder;
    font-family: Arial !important;
}

.media-body{
    font-weight: 400;
}

.price-tag{
    position: absolute;
    top: .5rem;
    right: 1rem;
    text-align: right;
}

.price {
    color: rgb(2, 108, 180);
    font-size: 1.4rem;
    font-weight: bold;
}

.deal-info {
    background-color: rgba(53,62,68,0.1);
    position: absolute;
    bottom: 0;
    left: 15.5rem;
    right: 0;
    min-height: 2rem;
    padding-top: .1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-style: italic;
}

/*Advanced Search Filters*/
.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 1rem 1.5rem;
}

.input-group-btn .btn-group {
    display: flex !important;
}

.form-control{
    border-radius: .3rem .3rem !important;
    width: 100% !important;
}

.form-control:focus{
    box-shadow: 0 0 5px 1px #0067db;
}

@media screen and (min-width: 768px) {
    #adv-search {
        width: 500px;
        margin: 0 auto;
    }

    .dropdown.dropdown-lg {
        position: static !important;
    }

    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 35rem;
    }
}

.drop-label{
    font-weight: 600;
}