@model IEnumerable<GCRS.Domain.Provincia>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Provincias</h2>
@Html.ActionLink("Add", "AddProvincia")
<br />
<table class="table">
    @*Listar Provincias*@
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.Encode(item.Nombre)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
