@{
    ViewBag.Title = "Home Page";
}

<div class="card">
    <div id="map-viewer" class="card-img-top"></div>
    <div class="card-body">
        <p class="card-text">Cuba map, centered in Havana.</p>
    </div>
</div>